.body-sidebar {
    background-color: #f7f7f7 !important;
}

.navbar-dark.navbar-bg-sidebar {
    background-color: #fff;
}

@media (max-width: 991px) {
    .navbar-dark.navbar-bg-sidebar {
        background-color: #343a40 !important;
    }
}

.view-site-btn-sidebar {
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 1px;
    color: black !important;
    background: white !important;
    padding: 6px 41px !important;
    transition: all 0.5s ease;
}

.view-site-btn-sidebar:hover {
    background: #e8e8e8 !important;
}

.sidebar-profile-icon-container {
    background-color: blue;
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    padding: 4px 12px;
    color: white;
}

.sidebar-profile-icon {
    color: white;
    text-decoration: none;
}

.sidebar-profile-icon:hover {
    color: white;
    text-decoration: none;
}

.sticky-offset {
    top: 56px;
}

#body-row {
    margin-left: 0;
    margin-right: 0;
}

.websiteName-sidebar {
    padding: 0.98rem 1.25rem;
    background: #222529;
    color: white;
}

#sidebar-container {
    max-height: 100%;
    min-height: 100vh;
    padding: 0;
    overflow-y: auto;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    margin-top: -56px;
    background-color: #474b54 !important;
}

#sidebar-container .list-group-item {
    border: unset;
}

#sidebar-container .list-group-item-action {
    color: white !important;
}

// .sidebar-submenu * .list-group-item-action {
//     color: white;
// }

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    // color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
    background-color: #474b54;
}

a.pilot-nav__item.secondhalf.sidebar.list-group-item.list-group-item-action {
    font-size: 12px !important;
    background-color: #474b54 !important;
}

.second-half-sidebar * {
    font-size: 14px;
}

ul.secondhalf * {
    font-size: 12px;
}

a.sidebar.list-group-item.list-group-item-action {
    height: 45px;
    background-color: #474b54;
    font-size: 18px;
}

a.active.sidebar.list-group-item.list-group-item-action {
    height: 45px;
    background-color: #595e69;
}

a.secondhalf.sidebar.list-group-item.list-group-item-action {
    height: 45px;
    background-color: #474b54;
    font-size: 15px;
}

a.active.secondhalf.sidebar.list-group-item.list-group-item-action {
    height: 45px;
    background-color: #595e69;
}

.sidebar-submenu {
    font-size: 14px !important;
}

.sidebar-submenu > ul {
    list-style: none;
}

.sidebar-submenu * a {
    background-color: white;
    font-size: 15px !important;
}

/* Separators */
.sidebar-separator-title {
    // background-color: #333;
    height: 35px;
}
.sidebar-separator {
    // background-color: #333;
    height: 25px;
}
.logo-separator {
    // background-color: #333;
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container
    .list-group
    .list-group-item[aria-expanded="false"]
    .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container
    .list-group
    .list-group-item[aria-expanded="true"]
    .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

// makes the rotate animation happen over period of time for chevron when collasping submenus on sidebar
.fa-chevron-right {
    -webkit-transition: transform 0.4s; /* Safari */
    transition: transform 0.4s;
}

//PROFILE AVATAR ICON DROPDOWN MENU STYLES
#profile-menu {
    text-align: center;
    padding: 0px 8px;

    .account {
        cursor: pointer;
    }

    .dropdown-menu {
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
        line-height: 18px;

        a {
            color: #555;
            font-size: 13px;
            font-weight: normal;
            font-family: "Arial", sans-serif;
            line-height: 18px;
            text-decoration: none;
            transition: 0.3 ease all;

            &:active {
            }
            &:hover {
                color: var(--color-heading-link);
                text-decoration: none;
                transition: 0.3 ease all;
            }
        }
        &:before {
            content: "";
            position: absolute;
            top: -10px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #b7b3b3;
            border-bottom-color: #222529;
            right: 19%;
        }
        &.mobile {
            top: auto !important;
        }
    }
    .dropdown-item-text {
        display: flex;
        padding: 0;

        .fa-moon-stars {
            position: relative;
            display: inline-table;
            vertical-align: middle;
            margin-right: 3px;
            font-size: 1.3rem;
        }
        #dark-theme-text {
            position: relative;
            display: inline-table;
            vertical-align: middle;

            color: #555;
            font-size: 11px;
            font-weight: bold;
            font-family: "Arial", sans-serif;
            line-height: 16px;
        }
    }
}

#profile-menu:focus,
#dropdownMenuLink:focus,
.nav-item.dropdown:focus,
.nav-link.dropdown-toggle:focus {
    outline: none;
}

.profile-circle {
    width: 45px;
    height: 44px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 2px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    position: relative;
    left: 17px;
}

.dropdown-toggle::after {
    border-top: unset !important;
}


a.secondhalf.pilot-nav__item--active.sidebar.list-group-item.list-group-item-action.text-secondary {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

a.pilot-nav__item.pilot-nav__item--active.sidebar.list-group-item.list-group-item-action {
    background-color: rgba(255, 255, 255, 0.2) !important;
}
