
body {
    background-color: rgba(0, 0, 0, .03);
}
#login-wrapper {
    height: 100vh;

    > .row {
        flex:1 1 auto;

        .btn {
            border-color: rgba(0,0,0,0.125);
            transition: 0.3s ease all;

            &:hover {
                background-color: #80bdff;
                border-color: #80bdff;
                color: #fff;
                transition: 0.3s ease all;
            }
        }
    }
}
